#olMap {
  height: 250px;
}

.ol-feature {
  margin-top: 30px;
}

html, body, #map {
    height: 300px;
    width: 800px;
}
div.olMap {
    z-index: 0;
    padding: 0 !important;
    margin: 0 !important;
    cursor: default;
}
